@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* ===== FUENTE GLOBAL ===== */

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font: 17px / 26px 'Lato', sans-serif;
  letter-spacing: 0.3px;
  color: #474747;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
