* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font: 17px / 26px 'Lato', sans-serif;
  letter-spacing: 0.3px;
  color: #474747;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
